.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 0 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.box {
  width: 720px;
  height: 400px;
  background-color: lightblue;
  margin-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;
  border-image-width: auto;
}
 
@media screen and (max-width: 200px) {
  .container{
    flex-direction: column; 
    align-items: center; 



    
  }
  
}

.box button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.box img, .box video {
  width: 100%;
  height: auto;}